@charset "UTF-8";
/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*variables*/
:root {
    /*global colors*/
    /*Color */
    --first-color: #00274C;
    --second-color: #113a60;
    --title-color: #18453B;
    --text-color: #00274C;
    --body-color: #18453B;
    /*fonts*/
    --body-font: "Alata";
    --h1-font-size: 1.24rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*font weight*/
    --font-medium: 500;
    --font-semi-bold: 600;
}

@media screen and (min-width: 1024px) {
    :root {
      --h1-font-size: 1.75rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
/*base*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-image: url(img/darkblue-background.png);
    font-family: var(--body-font);
}

input,
button {
  font-family: var(--body-font);
  border: none;
  outline: none;
}

/* for login form*/
.login_content, .login_form, .login_inputs {
    display: grid;
}

.login_content {
    position: relative;
    height: 100vh;
    align-items: center;
}

.login_form {
  position: relative;
  background-color: hsla(244, 16%, 92%, 0.6);
  border: 2px solid hsla(244, 16%, 92%, 0.75);
  margin-inline: 1.5rem;
  row-gap: 1.25rem;
  backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 1rem;
}

.title {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  margin-bottom: 0.5rem;
}

.title span {
    color: var(--first-color);
    font-size: var(--h1-font-size);
}

.description {
    font-size: var(--small-font-size);
    font-style: var(--body-font);
}

.login_inputs {
    row-gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.login_label {
    display: block;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.25rem;
}

.login_input {
    width: 100%;
    padding: 14px 12px;
    border-radius: 6px;
    border: 2px solid var(--text-color);
    background-color: hsla(244, 16%, 92%, 0.6);
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    transition: border 0.4s;
}

.login_input::placeholder {
    color: var(--text-color);
}

.login_input:focus, .login_input:valid {
    border: 2px solid var(--first-color);
}

.login_box {
    position: relative;
}

.login_box .login_input {
    padding-right: 36px;
}

.login_eye {
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0.75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
}

.login_buttons {
    display: flex;
    column-gap: 0.75rem;
}

.login_button {
    width: 100%;
    padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--first-color), var(--second-color));
    color: #fff;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px hsla(244, 75%, 48%, 0.5);
    margin-bottom: 1rem;
    cursor: pointer;
}

.login_button-ghost {
    background: hsla(244, 16%, 92%, 0.6);
    border: 2px solid var(--first-color);
    color: var(--first-color);
    box-shadow: none;
}

/* for account creation*/
a {
    width: 15px;
}

/* For responsiveness*/

/* For small devices */
@media screen and (max-width: 360px) {
    .login__buttons {
      flex-direction: column;
    }
  }
  /* For medium devices */
  @media screen and (min-width: 576px) {
    .login__form {
      width: 450px;
      justify-self: center;
    }
  }
  /* For large devices */
  @media screen and (min-width: 1064px) {
    .container {
      height: 100vh;
      display: grid;
      place-items: center;
    }
    .login__content {
      width: 1024px;
      height: 600px;
    }
    .login__img {
      border-radius: 3.5rem;
      box-shadow: 0 24px 48px hsla(244, 75%, 36%, 0.45);
    }
    .login__form {
      justify-self: flex-end;
      margin-right: 4.5rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .login_content {
      height: 700px;
    }
    .login_form {
      row-gap: 2rem;
      padding: 3rem;
      border-radius: 1.25rem;
      border: 2.5px solid hsla(244, 16%, 92%, 0.75);
    }
    .description, .login_label, .login_button {
      font-size: var(--normal-font-size);
    }
    .login_inputs {
      row-gap: 1.25rem;
      margin-bottom: 0.75rem;
    }
    .login_input {
      border: 2.5px solid var(--text-color);
      padding: 1rem;
      font-size: var(--small-font-size);
    }
    .login_input:focus, .login_input:valid {
      border: 2.5px solid var(--first-color);
    }
    .login_button {
      padding-block: 1rem;
      margin-bottom: 1.25rem;
    }
    .login_button-ghost {
      border: 2.5px solid var(--first-color);
    }
  }